*{
    padding: 5;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: #bbcfca;    
}


/*global CSS*/
.obj-width{
    max-width: 1200px;
    margin: auto;
}

nav{
    background-color: #2d4c50;
    box-shadow: 0 7px 10px rgba(0, 0, 0,0.3);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3;
   
}

.navbar .logo{
    margin: 5px;
    margin-left: 5px;
    color: white;
    text-shadow: 0 1px rgb(255, 255, 255), 0 5px #000000;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 2.2rem;
    align-items: center;
    transition: all .1s ease-in-out 0s
}


#search-input{
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
    transition:all .3s ease-in-out 0s;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75)
    
}


#search-button{
    padding: 10px 20px;
    background-color: #138065;
    color: #ffff;
    border: none;
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px; 
    
}

#blog-container{
    padding: rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.blog-card{
    width: 320px;
    border:2px solid #138065;
    transition: .4s;
    background-color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    margin: 10px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(190, 190, 190),
             0.3em 0.3em 1em rgba(0,0,0,0.3);     
}
  
.blog-card:hover{
    border: 2px solid black;
    transform: scale(1.05);
}



.blog-card img{
    width: 100%;
    height: 280p x;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
    transform: 0.3s ease-in-out;
    
}

.blog-card:hover img {
    transform: scale(1.1s);
}

.blog-card{
    color: #141414;
    font-size: 1.7rem;
    font-weight: 500;
}

.blog-card p{
    font-size: 1.2rem;
    padding-top: 0.7rem;
}

@media(max-width: 500px){
    nav{
        padding: 0 20px;
    }
    .navbar .logo {
        font-size: 1.8rem;
    }
    #search-input{
      width: 150px;
      padding: 10px 10px;
    }
    .blog-card{
        width: 100%;
    }
}

#sticky-footer {
    width: 100%;
    padding: 1rem 0; /* Adjust padding as necessary */
    background-color: #343a40; /* Dark background */
    color: #ffffff; /* White text color */
    position: fixed; /* Makes the footer stick to the bottom */
    bottom: 0; /* Aligns the footer to the bottom of the page */
    left: 0;
    text-align: center; /* Centers the text */
    z-index: 1000; /* Ensures the footer stays above other elements */
}

.container {
    width: 150%;
    margin: 0 auto; /* Centers the container */
}